<div>
    <h2 id="page-heading">
        <span jhiTranslate="iitAdminApp.artifact.home.title">Artifacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-artifact" [routerLink]="['/artifact/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iitAdminApp.artifact.home.createLabel">
            Create a new Artifact
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="artifacts?.length === 0">
        <span jhiTranslate="iitAdminApp.artifact.home.notFound">No artifacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="artifacts && artifacts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="iitAdminApp.artifact.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="iitAdminApp.artifact.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="iitAdminApp.artifact.milestone">Milestone</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let artifact of artifacts ;trackBy: trackId">
                    <td><a [routerLink]="['/artifact', artifact.id, 'view']">{{ artifact.id }}</a></td>
                    <td>{{ artifact.name }}</td>
                    <td>
                        <a *ngIf="artifact.data" (click)="openFile(artifact.dataContentType, artifact.data)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="artifact.data">{{ artifact.dataContentType }}, {{ byteSize(artifact.data) }}</span>
                    </td>
                    <td>
                        <div *ngIf="artifact.milestone">
                            <a [routerLink]="['/milestone', artifact.milestone?.id, 'view']" >{{ artifact.milestone?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/artifact', artifact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/artifact', artifact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(artifact)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
